<!doctype html>
<html>
<head>

    <title> OSSprac 2조 OPA homework2</title>
    <style>
        img {
            position: absolute;
            left: 300px;
            top: 200px;
        }
    </style>

</head>

<body>
<img src= "../static/logo.jpg" alt= "동국로고" title= "동국화이팅">
<div style="position:absolute">
    <p>
    <h1> {{ Major }} {{ StudentNumber }} {{ Name }}님, <br>
        {{ Menu }}로 {{ Time }}에 신청이 완료되었습니다! <br>
        시간에 맞춰 과실을 방문해주세요. </h1></p>
    <p><input type="button"  value="로그아웃!!!"  onclick="location.href='/'"/></p>
</div>
</body>

</html>